build/
.DS_Store
.gradle/
.env
.cxx/
output/
local.properties
.idea/
.venv/
*.pyc
__pycache__/
uv.lock
*.egg-info/
libmoonshine*.so
libmoonshine*.dylib
libmoonshine*.dll
/python/src/moonshine_voice/libonnxruntime*
/python/src/moonshine_voice/*.so
/python/src/moonshine_voice/*.so.*
/python/src/moonshine_voice/*.dylib
/python/src/moonshine_voice/*.dll
/python/dist/
.pypirc
/ios/Moonshine.xcframework
.build/